<div style="display: flex">
<mat-card style="width: 200px; height: 150px; margin-right: 16px">
  <h4>Active users:</h4>
  <ul>
    <li *ngFor="let activeUser of activeUsers | async">
      {{ activeUser.displayName }}
    </li>
  </ul>
</mat-card>

<mat-card style="flex: 1">
  <h4>Messages:</h4>

  <mat-card *ngFor="let message of messages | async" style="margin-bottom: 10px; border: outset">
      ({{ message.datetime | date : 'dd-MM, HH:mm:ss' }}) <strong>{{ message.user.displayName }}</strong>: {{ message.text }}
  </mat-card>

  <form (ngSubmit)="sendMessage()">
    <mat-form-field class="example-full-width" appearance="fill" style="width: 400px; font-size: 14px">
      <mat-label>Message</mat-label>
      <input type="text" name="messageText" matInput [(ngModel)]="messageText" #message maxlength="256">
      <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
    <button mat-icon-button type="submit" style="margin-left: 10px;" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/register">
      <mat-icon>send</mat-icon>
    </button>
  </form>
</mat-card>

</div>
