<div fxLayout="row" fxLayoutAlign="center">
  <mat-card class="centered-card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form
        #f="ngForm"
        fxLayout="column"
        autocomplete="off"
        (ngSubmit)="onSubmit()"
      >
        <div *ngIf="error | async" class="error">
          {{ (error | async)?.error }}
        </div>
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input
            type="email"
            name="email"
            autocomplete="email"
            email
            required
            matInput
            ngModel
            #email="ngModel"
          />
          <mat-error *ngIf="email.touched && email.hasError('required')">
            Email is required!
          </mat-error>
          <mat-error *ngIf="email.touched && email.hasError('email')">
            Enter correct email!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password"
            name="password"
            autocomplete="current-password"
            required
            matInput
            ngModel
            #password="ngModel"
          />
          <mat-error *ngIf="password.touched && password.hasError('required')">
            Password is required!
          </mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="center" style="margin-bottom: 16px">
          <a routerLink="/register">Don't have an account? Sign up</a>
        </div>

        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >
          SIGN IN
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
