<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <a routerLink="/">Home</a>
      </div>
      <nav *appHasRoles="['user', 'moderator'] else userMenu">
        <div fxLayoutAlign="row">
          <p style="margin-top: 10px; padding-right: 10px; border-right: 1px solid">Welcome, <b
            style="color: black">{{ (user | async)?.displayName }}</b></p>
          <p style="margin-top: 5px; margin-left: 10px; padding-right: 10px; border-right: 1px solid">
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/chat">
              <mat-icon >chat</mat-icon>
            </button>
          </p>
          <button style="margin-top: 5px; margin-left: 10px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="logout()">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      </nav>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #userMenu>
  <nav>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/login">
      <mat-icon style="margin-right: 7px">login</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/register">
      <mat-icon>app_registration</mat-icon>
    </button>
  </nav>
</ng-template>
